@import "src/constants.scss";

nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media #{$x-small-devices} {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  img {
    width: 125px;
  }
  .btns-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
