<nav>
  <img src="assets/logos/bm-logo.png" />
  <div class="btns-container">
    <button
      [routerLink]="['/currency-details']"
      [queryParams]="{ from: 'EUR', to: 'USD', amount: 1 }"
    >
      EUR-USD Details
    </button>
    <button
      [routerLink]="['/currency-details']"
      [queryParams]="{ from: 'EUR', to: 'GBP', amount: 1 }"
    >
      EUR-GBP Details
    </button>
  </div>
</nav>
