<div *ngIf="currencies$ | async as currencies">
  <form [formGroup]="form">
    <div class="inputs-container">
      <div>
        <label for="amount">Amount</label>
        <input
          id="amount"
          placeholder="0"
          formControlName="amount"
          type="number"
        />
      </div>

      <ng-container>
        <div>
          <label for="baseCurrency">From</label>

          <mat-select
            class="select"
            (selectionChange)="onChangeSelectedCurrency()"
            formControlName="baseCurrency"
          >
            <mat-option
              *ngFor="let currencyFrom of currencies"
              [value]="currencyFrom?.code"
            >
              {{ currencyFrom?.name }}
            </mat-option>
          </mat-select>
        </div>

        <button
          *ngIf="!queryParams?.from"
          type="button"
          (click)="onSwapCurrencies()"
          mat-icon-button
          color="primary"
          class="swap-button"
        >
          <i class="las la-exchange-alt"></i>
        </button>
        <div>
          <label for="convertedToCurrency">To</label>

          <mat-select
            class="select"
            (selectionChange)="onChangeSelectedCurrency()"
            formControlName="convertedToCurrency"
          >
            <mat-option
              *ngFor="let currencyTo of currencies"
              [value]="currencyTo?.code"
            >
              {{ currencyTo?.name }}
            </mat-option>
          </mat-select>
        </div>
      </ng-container>
    </div>

    <div class="results-container">
      <p *ngIf="convertedToCurrencyValue">
        1 {{ baseCurrencyControl.value }} =
        {{ convertedToCurrencyValue | number : "1.0" : "en-US" }}
        {{ convertedToCurrencyControl.value }}
      </p>
      <p *ngIf="convertedAmount">
        {{ convertedAmount | number : "1.0" : "en-US" }}
        {{ convertedToCurrencyControl.value }}
      </p>
      <button
        *ngIf="!queryParams?.from"
        type="button"
        routerLink="/currency-details"
        [queryParams]="{
          from: baseCurrencyControl.value,
          to: convertedToCurrencyControl.value,
          amount: amountControl.value ? amountControl.value : 1
        }"
      >
        More Details
      </button>

      <button [disabled]="form.invalid" (click)="onCurrencyExchange()">
        convert
      </button>
    </div>
  </form>
</div>
