@import "src/constants.scss";

.inputs-container {
  display: flex;
  align-items: center;
  gap: 10px;
  @media #{$x-small-devices} {
    flex-direction: column;
    align-items: start;
  }
}

.results-container {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  @media #{$x-small-devices} {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
  }
  p {
    color: $primary;
    border: 1px solid $primary;
    border-radius: 4px;
    padding: 20px;
  }
}

.swap-button {
  font-size: 24px;
  margin-top: 25px;
}
