@import "src/constants.scss";

.main-container {
  padding: 24px 40px;
  min-height: 100vh;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px;

    &__heading {
      @extend %heading;
      margin: 0;
    }
  }
  .chart-container {
    overflow-x: hidden;
    @media #{$x-small-devices} {
      overflow-x: scroll;
    }
  }
}
