<div class="main-container">
  <app-nav-bar></app-nav-bar>

  <div *ngIf="currency$ | async as currency">
    <div class="header">
      <h1 class="header__heading">{{ currency.name }} {{ currency.symbol }}</h1>
      <button [routerLink]="['/home']">Back To HomePage</button>
    </div>
    <app-currency-exchanger-panel
      [queryParams]="queryParams"
      (CurrencyExchangeSubmitted)="onLoadCurrencyHistoricalRates($event)"
    ></app-currency-exchanger-panel>

    <div
      class="chart-container"
      *ngIf="currencyHistoricalRates$ | async as currencyHistoricalRates"
    >
      <ngx-charts-bar-vertical
        [view]="[700, 400]"
        [scheme]="colorScheme"
        [results]="currencyHistoricalRates"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Months'"
        [yAxisLabel]="'Rates'"
      >
      </ngx-charts-bar-vertical>
    </div>
  </div>
  <mat-spinner
    *ngIf="
      (currencyLoading$ | async) ||
      (currencyExchangePending$ | async) ||
      (currenciesLoading$ | async) ||
      (currencyHistoricalRatesPending$ | async)
    "
    class="spinner"
    color="primary"
    diameter="50"
  ></mat-spinner>
</div>
