<div class="main-container">
  <app-nav-bar></app-nav-bar>
  <h1 class="main-container__heading">Currency Exchanger</h1>

  <app-currency-exchanger-panel
    (CurrencyExchangeSubmitted)="onCurrenciesExchange($event)"
  ></app-currency-exchanger-panel>

  <div class="cards-container" *ngIf="currencies$ | async as currencies">
    <div class="card" *ngFor="let currency of currencies">
      <p>
        {{ currency.rate * amount | number : "1.0" : "en-US" }}
        {{ currency.currencyName }}
      </p>
    </div>
  </div>
  <mat-spinner
    *ngIf="
      (currenciesExchangePending$ | async) ||
      (currencyExchangePending$ | async) ||
      (currenciesLoading$ | async)
    "
    class="spinner"
    color="primary"
    diameter="50"
  ></mat-spinner>
</div>
