@import "src/constants.scss";

.main-container {
  padding: 24px 40px;
  min-height: 100vh;

  &__heading {
    @extend %heading;
    margin: 0 0 20px;
  }
}
.cards-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  @media #{$x-small-devices} {
    grid-template-columns: auto;
  }

  .card {
    height: 100px;
    border: 1px solid $primary;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$x-small-devices} {
      width: auto;
    }
    p {
      color: $primary;
      @extend %medium;
    }
  }
}
