@import "src/constants.scss";

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  p {
    @extend %subheading;
    color: $black;
    text-align: center;
  }
}
