// rtl
$rtl: ".rtl :host &";
// colors
:root {
  --primary-color: #00b7bd;
}

$primary: #871e35;
$secondary: #e8ba00;
$grey: #8a94a6;
$black: #000;
$white: #ffffff;
$input-color: #f2f2f2;

// breakpoint media query
$x-large-devices: "screen and (min-width: 1200px)"; // large laptops , large desktops
$large-devices: "screen and (min-width: 992px)"; // laptops , desktops
$medium-devices: "screen and (min-width: 768px)"; // landscape tablets
$small-devices: "screen and (min-width: 600px)"; // tablets , large phones
$x-small-devices: "screen and (max-width: 600px)"; // phones

$box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
$box-shadow-light: 0 2px 6px 0 rgb(0 0 0 / 4%);

@font-face {
  font-family: Poppins-Regular;
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-italic;
  src: url("assets/fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
}

@mixin heading {
  font-family: Poppins-Regular;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
}
@mixin subheading {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
}

@mixin medium {
  font-family: Poppins-Regular;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}

@mixin label {
  font-family: Poppins-Regular;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

@mixin paragraph {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
}
@mixin hints {
  font-family: Poppins-italic;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
}

%heading {
  @include heading;
}
%subheading {
  @include subheading;
}
%medium {
  @include medium;
}
%label {
  @include label;
}
%paragraph {
  @include paragraph;
}
%hints {
  @include hints;
}
